<!DOCTYPE html>
<head>
    <title>PANNE TBM</title>
    <link rel="icon" type="image/png" href="https://i.imgur.com/K9s7HAm.png"/>
    <style>
        .section {
            margin-bottom: 1rem;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        div {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-grow: 0;
            flex-shrink: 0;
            margin-bottom: 1%; 
        }
        
        .borderA {
            border: 1rem solid #7d2e87;
            display: inline-block;
        }
        .borderB {
            border: 1rem solid #e41d4c;
            display: inline-block;
        }
        .borderC {
            border: 1rem solid #cc579b;
            display: inline-block;
        }
        .borderD {
            border: 1rem solid #9162a4;
            display: inline-block;
        }
    </style>
</head>

<body>
<section class="section">
    <div class="borderA">
        <a class="twitter-timeline" data-lang="fr" data-width="500" data-height="500" data-theme="light" href="https://twitter.com/TBM_TramA?ref_src=twsrc%5Etfw">Tweets by TBM_TramA</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
    <div class="borderB">
        <a class="twitter-timeline" data-lang="fr" data-width="500" data-height="500" data-theme="light" href="https://twitter.com/TBM_TramB?ref_src=twsrc%5Etfw">Tweets by TBM_TramB</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
    <div class="borderC">
        <a class="twitter-timeline" data-lang="fr" data-width="500" data-height="500" data-theme="light" href="https://twitter.com/TBM_TramC?ref_src=twsrc%5Etfw">Tweets by TBM_TramC</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
    <div class="borderD">
        <a class="twitter-timeline" data-lang="fr" data-width="500" data-height="500" data-theme="light" href="https://twitter.com/TBM_TramD?ref_src=twsrc%5Etfw">Tweets by TBM_TramD</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
</section>

</body>
</html>
